.col-md-12.col-sm-12(ng-cloak ng-show='tableData.round.length')
	.col-md-6.col-md-offset-3.background-opacit0.img-rounded
		.table-layout.clearfix
			.card-holder(ng-class="{'current-turn': $index == shifter(token), 'team1': $index%2 == 0, 'team2': $index%2 == 1}" ng-repeat='card in tableData.round track by $index' class='pos'+total+'-{{$index}}')
				.card(ng-class="{'round-starter': $index == shifter(starter)}" style='background-position:{{card.bgPos[0]}}px {{card.bgPos[1]}}px')
					.background(ng-show='$index == 0 && bidObj.bid && action == "Bid"')
						h3.bid-points.color-metroRed(ng-bind='bidObj.points')
						a.bid-icon.glyphicon.glyphicon-minus.pull-left.olor-metroNavy(href='javascript:void(0);' ng-click='bidObj.decreaseBid()')
						a.bid-icon.glyphicon.glyphicon-remove.color-metroRed(href='javascript:void(0);' ng-hide='bidObj.minimum' ng-click='bidObj.passBid()')
						a.bid-icon.glyphicon.glyphicon-plus.pull-right.olor-metroNavy(href='javascript:void(0);' ng-click='bidObj.increaseBid()')
						a.bid-icon.glyphicon.glyphicon-ok.color-metroGreen(href='javascript:void(0);' ng-click='bidObj.submitBid()')
					span.bid-data(ng-bind='tableData.bidData[$index]')
				span.player-name(ng-bind='tableData.players[$index]' ng-hide='$index == 0 && position >= 0')
			.trump-position(ng-show='trump.revealed' style='background-position:{{suitImg[trump.card.suit.name].bgPos[0]}}px {{suitImg[trump.card.suit.name].bgPos[1]}}px')
			a.trump-position(href='javascript:void(0);' ng-click='revealTrump()' ng-hide='trump.revealed || action != "Play" || canReveal != true')
