#bid-modal.modal.fade
	.modal-dialog.modal-sm
		.modal-content
			.modal-header.text-center
				a.close(data-dismiss='modal') &times;
				a.bid-data.pull-left(href='javascript:void(0);' ng-click='bidObj.increaseBid()') +
				a.bid-data.pull-right(href='javascript:void(0);' ng-click='bidObj.decreaseBid()') -
				h1.bid-data.color-metroPurple(ng-bind='bidObj.points')
			.modal-body.text-center
				a.btn.btn-danger.btn-block.text-center(href='javascript:void(0);' ng-click='bidObj.submitBid()') Bid
				a.btn.btn-primary.btn-block(href='javascript:void(0);' ng-hide='bidObj.minimum' ng-click='bidObj.passBid()') Pass
