ul.pagination
	a.btn.btn-success(data-toggle='modal' href='#prev-round') Previous Round
	a.btn.btn-warning(data-toggle='modal' href='#control-modal') Control data
	a.btn.btn-inverse(data-toggle='modal' href='#chat-modal') Chat
	a.btn.btn-warning(data-toggle='modal' href='#prev-game') Previous Game
	a.btn.btn-primary(href='javascript:void(0);' ng-click='addComputer()') Add Computer
	a.btn.btn-danger(href='/' ng-click='addComputer()') Back to Lobby
	a.btn.btn-primary(data-toggle='modal' href='#card-back') Card back
