#control-modal.modal.fade
	.modal-dialog.modal-sm
		.modal-content
			.modal-header.text-center
				a.close(data-dismiss='modal') &times;
				h3 Control data
			.modal-body.text-justify
				div.well#control-data(style='height:500px; overflow:auto;')
