extends layout

block content
	//modals
	include control
	include message-area
	include cardback
	include prev-round
	include prev-game
	.row.text-center
		include buttons
		include table-layout
		include cards
		- if (site == 'trump')
			include trump/trump-area

