extends layout

block content
	//modals
	include control
	include cardback
	include prev-round
	include prev-game
	include message-area
	include bid-area
	.row.text-center
		include buttons
		h3= site
		h4.color-metroRed(ng-bind='info')
		include table-layout
		include cards
		include trump-area
