extends layout

block content
	.row(ng-controller='Trump')
		.well
			h3.text-center= site
			div.col-md-3
				div
					input(type='text' placeholder='type to chat' ng-model='message')
					button(ng-click='sendMessage()') Send
				div(style='height:300px; overflow:auto;')
					div#ocbox
					div#ccbox
			div.col-md-6
				div#control-data(style='height:300px; overflow:auto;')
		div.col-md-12.text-center
			.text-center
				h3.text-center(ng-bind='action')
				ul.well.background-sunFlower.card-set.clearfix.list-unstyled.list-inline(ng-show='cards.length' ng-cloak)
					li.card(ng-repeat='card in cards' style='background-position:{{card.bgPos[0]}}px {{card.bgPos[1]}}px' ng-click='cardClick(card)')
		div.col-md-4.col-md-offset-4
			.well.background-emerald(ng-show='bidObj.bid' ng-cloak)
				h1.text-center
					a(href='javascript:void(0);' ng-bind='bidObj.points', ng-click='bidObj.increaseBid()')
				a.btn.text-center(href='javascript:void(0);' ng-click='bidObj.submitBid()') Bid
				a.btn.text-center(href='javascript:void(0);' ng-click='bidObj.passBid()') Pass
				h3.text-center(ng-bind='bidObj.bidder.name')
		div.col-md-4
			ul.text-center.well.background-sunFlower.card-set.clearfix.unstyled.inline(ng-cloak)
				li.card(style='background-position:{{trump.bgPos[0]}}px {{trump.bgPos[1]}}px')
			h3.text-center(ng-bind='bidObj.bidder.name')
				
