.col-md-12(ng-cloak ng-show='tableData.round.length')
	.background-opacity0-4.img-circle(ng-class="{'col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3':roomInfo.total < 5, 'col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2': roomInfo.total > 5}")
		.table-layout.clearfix.background-opacit
			.card-holder(ng-repeat='card in tableData.round track by $index' class='pos'+total+'-{{$index}}')
				div(class='user-img-pos'+total+'-{{$index}}', style='color:{{tableColors[$index]}}')
					.progress-circle.pointer(id="playtimer-{{$index}}", ng-mouseover="hoverEdit = $index ; $parent.curUserPosition = $index", ng-mouseleave="hoverEdit = -1", ng-class="{'current-turn': $index == shifter(token)}", data-toggle='modal', href='#user-info')
						img.user-img(src='{{tableData.playerDetails[$index].thumbnail}}')
					span.player-name(ng-bind='tableData.players[$index]', ng-hide='$index == 0 && $scope.position >= 0')
					ul.list-inline.text-center(style="width:80px;font-size:18px;margin:15px 0px 0 0")
						li.fa(class="{{tableData.playerDetails[$index].difficulty_class}}")
						li.fa.fa-desktop(ng-if='tableData.playerDetails[$index].human === false')
						li.fa.fa-user(ng-if='tableData.playerDetails[$index].human')
					table.table.table-bordered.user-details.well.color-black(style="background:{{tableColors[$index]}}", ng-show='hoverEdit >= 0')
						tr(ng-show='key != "thumbnail" && key != "human" && key != "difficulty_class" && key != "gender" && key != "name"', ng-repeat='(key, value) in tableData.playerDetails[$index]')
							td.text-center(ng-bind='key')
							td.text-center(ng-bind='value')
				.card(ng-class="{'empty-card':card.name == cardBack.name || (card.name == blank.name && tableData.bidData[$index] == '' && $index != shifter(token)), 'round-starter': $index == shifter(starter)}", style='background:{{tableColors[$index]}};background-position:{{card.bgPos[0]}}px {{card.bgPos[1]}}px')
					.center-position.background-oacity.pointer(ng-if='position < 0', ng-click='replaceComputer($index)')
						span.fa-3x.glyphicon.glyphicon-plus-sign
					span.bid-data(ng-if="shifter(token) == $index && timerSeconds > 0 && timerSeconds <= minTimerDisplay && tableData.bidData[$index] == ''", ng-bind='timerSeconds')
					- if (site == 'trump' || site == 'spades')
						include trump/bid-area
			.trump-position(ng-show='centerObj.suitObj.show()' style='background-position:{{centerObj.suitObj.suit().bgPos[0]}}px {{centerObj.suitObj.suit().bgPos[1]}}px')
			a.trump-position(href='javascript:void(0);' ng-click='centerObj.clickObj.click()' ng-hide='centerObj.clickObj.hide()' style='background-position:{{centerObj.clickObj.suit().bgPos[0]}}px {{centerObj.clickObj.suit().bgPos[1]}}px')
