.text-center.ell.ackground-sunFlower(ng-cloak ng-show='trump.card')
	h4(ng-bind='tableData.players[trump.setter]')
	.card.trump-card(style='background-position:{{trump.card.bgPos[0]}}px {{trump.card.bgPos[1]}}px')
	h4(ng-bind='trump.points')
	a.btn.btn-danger(href='javascript:void(0);' ng-click='revealTrump()' ng-hide='trump.revealed') Reveal Trump
