.text-center.ell.ackground-sunFlower(ng-cloak ng-show='trump.card')
	ul.card-set.clearfix.list-unstyled.list-inline
		li.card.trump(style='background-position:{{trump.card.bgPos[0]}}px {{trump.card.bgPos[1]}}px')
	h4.text-center(ng-bind='trump.points')
	h4.text-center(ng-bind='tableData.players[trump.setter]')
