a.icon-top.glyphicon.glyphicon-list-alt(data-toggle='modal' href='#control-modal' title='Control data')
a.icon-top.glyphicon.glyphicon-comment(data-toggle='modal' href='#chat-modal' title='Chat')
a.icon-top.glyphicon.glyphicon-home(href='/' title='Back to Lobby')
a.icon-top.glyphicon.glyphicon-user(data-toggle='modal' href='#tubers-modal' title='Chat')
