extends layout

block content
	include ../../game/views/control
	include ../../game/views/message-area
	include tubers
	.row
		.col-md-12.col-sm-12
			.col-md-7.col-sm-6
				h1
					span.color-metroOrange= site
					include buttons
			.col-md-5.col-sm-6
				h1
					form(ng-submit='searchVideos()' ng-cloak ng-show='apiReady')
						.input-group
							input.form-control(required='' ng-model='query' type='text' )
							span.input-group-btn
								input.btn.btn-success(type='submit' value='search')

			hr.featurette-divider3
		.col-md-12.col-sm-12
			.col-md-7(ng-cloak ng-show='player')
				.ell.wrapper.player-wrapper(ng-class="{'background-metroGreen':connected === true, 'background-metroRed':connected === false}")
					#player.green-border Connect to continue
				.ell.wrapper.video-detail-wrapper(ng-class="{'ackground-metroGreen':connected === true, 'ackground-metroRed':connected === false}")
					include video-detail
				hr.featurette-divider5
				.ell.wrapper.play-list-wrapper.ackground-metroYellow
					h4.text-center(ng-class="{'color-metroGreen':connected === true, 'color-metroRed':connected === false}" ng-bind='info')
					include playlist
				hr.featurette-divider5
			.col-md-5(ng-cloak ng-show='searchList.length')
				.ell.wrapper.search-list-wrapper.ackground-metroYellow
					include searchlist
				hr.featurette-divider5
			//
				a.control.glyphicon.glyphicon-log-in.pull-right(href='javascript:void(0);' ng-click='reconnect()' ng-hide='connected')
