extends layout

block content
	include ../../game/common/control
	include ../../game/common/message-area
	.row
		.col-md-12.col-sm-12
			.col-md-6.col-sm-6
				h1
					span.color-metroOrange.heading= site
					include buttons
			.col-md-6.col-sm-6
				h1
					form(ng-submit='searchVideos()' ng-cloak ng-show='apiReady')
						.input-group
							input.form-control(required='' ng-model='query' type='text' )
							span.input-group-btn
								input.btn.btn-success(type='submit' value='search')

		hr.featurette-divider3
		.col-md-12.col-sm-12
			.col-md-7(ng-cloak ng-show='player')
				#player Connect to continue
			.col-md-5(ng-cloak ng-show='searchList.length')
				ul.search-list.list-unstyled
					li(ng-repeat='video in searchList').clearfix
						a(href='javascript:void(0);' ng-click='playVideo(video.id.videoId)')
							img.thumbnail.img-thumbnail.pull-left(ng-src='{{video.snippet.thumbnails.default.url}}')
							h4.text-justify.title(ng-bind='video.snippet.title')
						a.control.glyphicon.glyphicon-plus(href='javascript:void(0);' ng-click='addVideo(video)')
						//
							span Views:1000000
							p(ng-bind='video.snippet.description')
				a.control.glyphicon.glyphicon-backward.pull-left(href='javascript:void(0);' ng-click='showSearchPage(prevPageToken)')
				a.control.glyphicon.glyphicon-forward.pull-right(href='javascript:void(0);' ng-click='showSearchPage(nextPageToken)')
		hr.featurette-divider3
		.col-md-12.col-sm-12(ng-cloak)
				ul.list-unstyled.list-inline
					li(ng-repeat='(key, video) in playList.videos').clearfix
						a(href='javascript:void(0);' ng-click='playVideo(video.id.videoId)')
							img.thumbnail.img-thumbnail(ng-src='{{video.snippet.thumbnails.default.url}}')
							//
								span.text-justify.title(ng-bind='video.snippet.title')
