doctype html
html(ng-app='')
	head
		title= site+'- home'
		include ../../../common-css
		link(rel='STYLESHEET', type='text/css', href='/socketio/style/tube.css')
	body.tube
		.container(ng-controller='Tube')
			block content
		include ../../../common-scripts
		script(src="/socket.io/socket.io.js").
		script(src="http://www.google.com/jsapi").
		script(src="/socketio/scripts/newtube.js").
		script(src="/socketio/scripts/ytembed.js").
		script.
			var user= '!{user}';
			var site= '!{site}';
