meta(name='viewport', content='width=device-width, initial-scale=1.0')
link(href='/github.com/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
link(href='/github.com/style/flatcolors.css', rel='stylesheet')
link(rel='STYLESHEET', type='text/css', href='/github.com/jqplot/jquery.jqplot.min.css')

//
	link(rel='STYLESHEET', type='text/css', href='/github.com/style/jquery.dataTables.css')
	link(href='http://socceranoo.github.com/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
	link(href='http://socceranoo.github.com/style/flatcolors.css', rel='stylesheet')
	link(href='http://socceranoo.github.com/jqplot/jquery.jqplot.min.css', rel='stylesheet')
	link(href='http://fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic' rel='stylesheet', type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Mate:400,400italic', rel='stylesheet', type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Kaushan+Script', rel='stylesheet', type='text/css')

// GOOGLE fonts

//
	link(href='http://fonts.googleapis.com/css?family=Quintessential', rel='stylesheet', type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Archivo+Narrow', rel='stylesheet', type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Elsie+Swash+Caps', rel='stylesheet', type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Titillium+Web', rel='stylesheet', type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Paprika', rel='stylesheet', type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Merriweather', rel='stylesheet', type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Amarante', rel='stylesheet', type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Petit+Formal+Script', rel='stylesheet', type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz', rel='stylesheet', type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Rouge+Script', rel='stylesheet', type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Playfair+Display', rel='stylesheet', type='text/css')
