//
	script(src='http://code.jquery.com/jquery-latest.min.js', type='text/javascript').
	script(src='http://code.angularjs.org/1.2.0rc1/angular.min.js').

script(src='/github.com/scripts/jquery.js', type='text/javascript').
script(src='/github.com/scripts/angular.js').

script(src='/github.com/bootstrap/dist/js/bootstrap.js').
script(type='text/javascript', src='/github.com/jquery-waypoints/waypoints.min.js').
script(type='text/javascript', src='/github.com/scripts/flatcolors.js').
script(type='text/javascript', src='/github.com/scripts/modernizr.custom.js').

// JQ PLOT SCRIPTS
script(type='text/javascript', src='/github.com/jqplot/template.js').
script(type='text/javascript', src='/github.com/jqplot/jquery.jqplot.min.js').
script(type='text/javascript', src='/github.com/jqplot/plugins/jqplot.pieRenderer.min.js').
script(type='text/javascript', src='/github.com/jqplot/plugins/jqplot.barRenderer.min.js').
script(type='text/javascript', src='/github.com/jqplot/plugins/jqplot.categoryAxisRenderer.min.js').
script(type='text/javascript', src='/github.com/jqplot/plugins/jqplot.pointLabels.min.js').

//
	script(type='text/javascript', src='http://socceranoo.github.com/jquery-waypoints/waypoints.min.js').
	script(type='text/javascript', src='http://socceranoo.github.com/scripts/flatcolors.js').
	script(src='http://socceranoo.github.com/bootstrap/dist/js/bootstrap.js').
	script(type='text/javascript', async='async', src='http://www.google-analytics.com/ga.js').
	script(type='text/javascript', async='async', src='http://www.google-analytics.com/analytics.js').
	script(type='text/javascript', src='https://www.google.com/jsapi').
