// JQ PLOT SCRIPTS
script(type='text/javascript', src='/github.com/scripts/table-graph-helper.js').
script(type='text/javascript', src='/github.com/scripts/jquery.dataTables.js').
script(type='text/javascript', src='/github.com/jqplot/jquery.jqplot.min.js').
script(type='text/javascript', src='/github.com/jqplot/plugins/jqplot.pieRenderer.min.js').
script(type='text/javascript', src='/github.com/jqplot/plugins/jqplot.barRenderer.min.js').
script(type='text/javascript', src='/github.com/jqplot/plugins/jqplot.categoryAxisRenderer.min.js').
script(type='text/javascript', src='/github.com/jqplot/plugins/jqplot.pointLabels.min.js').
script(type='text/javascript', src='/github.com/jqplot/plugins/jqplot.barRenderer.min.js').
script(type='text/javascript', src='/github.com/jqplot/plugins/jqplot.pieRenderer.min.js').
script(type='text/javascript', src='/github.com/jqplot/plugins/jqplot.donutRenderer.min.js').
script(type='text/javascript', src='/github.com/jqplot/plugins/jqplot.categoryAxisRenderer.min.js').
script(type='text/javascript', src='/github.com/jqplot/plugins/jqplot.canvasTextRenderer.min.js').
script(type='text/javascript', src='/github.com/jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js').
script(type='text/javascript', src='/github.com/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js').
script(type='text/javascript', src='/github.com/jqplot/plugins/jqplot.pointLabels.min.js').
script(type='text/javascript', src='/github.com/jqplot/plugins/jqplot.highlighter.min.js').
script(type='text/javascript', src='/github.com/jqplot/plugins/jqplot.cursor.min.js').
script(type='text/javascript', src='/github.com/jqplot/plugins/jqplot.dateAxisRenderer.min.js').
