.left-pane.background-white.text-center
	.quarter-height(ng-repeat='division in div track by $index')
		//h5.no-margin.text-center.AFC AFC {{division}}
		.col-md-6.col-sm-6.o-padding.pointer.half-relative-height(ng-repeat='var in teams_per_div track by $index', ng-click='getRoster(teams[$index+4*$parent.$index+0])')
			img.img-responsive.ubheader(ng-src='{{getImage("glossy_logo", teams[$index+4*$parent.$index+0])}}', class='team-logo team-logo-{{$index}}')
