html {
  height: 100%;
}
body {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 16px;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Trebuchet MS", sans-serif;
}
legend {
  border-bottom: 0px;
}
label {
  font-weight: 100;
}
table.gradient-style th,
table.gradient-style td {
  padding: 5px;
  text-align: center;
}
table.gradient-style th.text-left,
table.gradient-style td.text-left {
  text-align: left;
}
table.gradient-style tr {
  margin: 5px 0px 5px 0px;
  /* Space out the Bootstrap <hr> more */
}
.background-opacity {
  background: rgba(254, 254, 254, 0.2);
}
.background-opacity0 {
  background: rgba(0, 0, 0, 0.2);
}
.owesyou {
  color: #27ae60;
}
.youowe {
  color: #e74c3c;
}
.featurette {
  padding-top: 30px;
}
.featurette-image {
  margin-top: -30px;
}
.featurette-heading {
  text-align: left;
}
.featurette-divider {
  margin: 80px 0px 20px 0px;
  /* Space out the Bootstrap <hr> more */
}
.featurette-divider3 {
  margin: 20px 0px 20px 0px;
  /* Space out the Bootstrap <hr> more */
  clear: both;
}
.featurette-divider4 {
  margin: 5px 0px 5px 0px;
  /* Space out the Bootstrap <hr> more */
  clear: both;
}
.featurette-divider2 {
  margin: 40px 0px;
  /* Space out the Bootstrap <hr> more */
}
.height-200 {
  height: 200px;
  max-height: 200px;
}
.height-300 {
  height: 300px;
  max-height: 300px;
}
.img-responsive {
  margin: 0px auto;
}
body.account {
  background-image: url('../images/sfskyline.jpg');
  background-image: url('../images/ggbridge-blur.jpg');
  background-size: cover;
  background-repeat: repeat;
  font-weight: 100;
  height: 100%;
}
.transaction-table {
  max-height: 750px;
  overflow: auto;
}
