doctype html
html(ng-app='').full-height
	head
		title= title
		include ../../common-css
		link(rel='STYLESHEET', type='text/css', href='/socketio/style/lobby.css')
	body.lobby.full-height
		.container.full-height
			block content
		include ../../common-scripts
		//
			script(src="/socketio/scripts/trump.js").
			script.
				var user= '!{user}';
				var site= '!{site}';
