extends layout
block content
	include navbar
	.row
		h1.text-center &nbsp;
		.col-md-12.col-sm-12.featurette-divider3.text-center
			br
			- each value, server in list
				.col-md-3.col-sm-3
					h2= value.name
					br
					.img-rounded.well(class='ackground-'+value.background)
						a(href='/razeplay/'+server+'-lobby')
							img.height-200.img-responsive(src="/socketio/images/"+value.image alt="")
