extends layout
block content
	include navbar
	.row
		h1.text-center Lobby
		.col-md-12.col-sm-12.featurette-divider
			.col-md-6.col-sm-6.ackground-sunFlower
				a(href='/trump-lobby')
					img.img-responsive(src="/socketio/images/jackspade.png" alt="")
			.col-md-6.col-sm-6.ackground-emerald
				a(href='/hearts-lobby')
					img.img-responsive(src="/socketio/images/hearts.png" alt="")
			.col-md-6.col-sm-6.ackground-alizarin
				a(href='/spades-lobby')
					img.img-responsive(src="/socketio/images/jackspade.png" alt="")
			.col-md-6.col-sm-6.ackground-clouds
				a(href='/tube-lobby')
					img.img-responsive(src="/socketio/images/tube.png" alt="")
