extends layout
block content
	include navbar
	.row.full-height
		.col-md-12.col-sm-12.featurette-divider5.half-height.background-unFlower
			include trump
		.col-md-12.col-sm-12.featurette-divider5.half-height.background-louds
			include hearts
		.col-md-12.col-sm-12.featurette-divider5.half-height.background-merald
			include tube
