extends layout
block content
	include navbar
	.row
		h1.text-center &nbsp;
		.col-md-12.col-sm-12.featurette-divider3.text-center
			- each value, server in list
				.col-md-6.col-sm-6
					h2= value.name
					.col-md-6.col-sm-6.col-md-offset-3.col-sm-offset-3.well.img-rounded
						a(href='/razeplay/'+server+'-lobby')
							img.height-300.img-responsive(src="/socketio/images/"+value.image alt="")
		//

			.col-md-6.col-sm-6.ackground-emerald.text-center
				h2 Hearts
				.col-md-6.col-sm-6.col-md-offset-3.col-sm-offset-3
					a(href='/razeplay/hearts-lobby')
						img.img-responsive(src="/socketio/images/QH.png" alt="")
			.col-md-12.col-sm-12.featurette-divider3.text-center
				.col-md-6.col-sm-6.ackground-alizarin
					h2 Spades
					.col-md-6.col-sm-6.col-md-offset-3.col-sm-offset-3
						a(href='/razeplay/spades-lobby')
							img.img-responsive(src="/socketio/images/spades.png" alt="")
				.col-md-6.col-sm-6
					h2 Connectube
					.col-md-6.col-sm-6.col-md-offset-3.col-sm-offset-3
						a(href='/razeplay/tube-lobby')
							img.img-responsive(src="/socketio/images/tube.png" alt="")
