extends layout
block content
	include navbar
	.row
		h1.text-center Trump
		.col-md-12.col-sm-12.featurette-divider.background-unFlower
			.col-md-2.col-sm-2
				img.img-responsive(src="/socketio/images/spades.png" alt="")
			.col-md-10.col-sm-10
				include lobby-table
				ul.text-center.list-unstyled.list-inline
					li
						a.btn.btn-sm.btn-success(href='/razeplay/spades') New 4 player game
