- if (list.length)
	h3.text-center Active Tables
	hr
	table.table.table-bordered.table-striped
		tr
			//th Server
			th Room
			th Status
			th Human Players
		- each stuff in list
			tr
				//td= stuff.game+' ('+stuff.totalPoints+')'
				td
					a(href='/razeplay/'+stuff.game+'/?session='+stuff.session)= stuff.room
				td
					- if (stuff.inProgress)
						span.icon.glyphicon.glyphicon-ok.color-metroGreen
					- else
						span.icon.glyphicon.glyphicon-remove.color-metroRed
				td
					- if (stuff.active < stuff.total)
						span.color-metroGreen= stuff.active+'/'+stuff.total
					- else
						span.color-metroRed= stuff.active+'/'+stuff.total
- else
	h3.text-center No Tables at this time
	hr
h3.text-center Start a new game
hr
