extends layout
block content
	include navbar
	.row
		h1.text-center Hearts
		.col-md-12.col-sm-12.featurette-divider.background-unFlower
			.col-md-2.col-sm-2
				img.img-responsive(src="/socketio/images/QH.png" alt="")
			.col-md-10.col-sm-10
				include lobby-table
				ul.text-center.list-unstyled.list-inline
					li
						a.btn.btn-lg.btn-success(href='/razeplay/hearts')
							span.icon.glyphicon.glyphicon-heart
