.brand.container
	img.img-responsive(src="/socketio/images/gamecenter-icon.png" alt="").pull-left
	form(action='/razeplay/lobby', method='POST').pull-right
		- if (list)
			a(href="/razeplay/lobby").btn.btn-success Back to Lobby
		input.btn.btn-danger(type='submit' value='Leave Lobby')
	//
		h2.pull-left
			span= site
	h2.pull-left= 'Welcome '+user
