@import "../../common/less/variables";
@import "../../common/less/main";
body.tube {
	background:#f1f1f1;
	//background: url('../images/plain-grey2.jpg');
	background-repeat:repeat;
}
#player {
}
.player-wrapper {
	box-sizing:border-box;
}
.green-border {
	border:6px solid @metro_green;
	/*
	border-right:5px solid @metro_green;
	border-left:5px solid @metro_green;
	border-top:5px solid @metro_green;
	border-bottom:1px solid @metro_green;
	*/
}
.red-border {
	border:6px solid @metro_red;
	/*
	border-right:5px solid @metro_red;
	border-left:5px solid @metro_red;
	border-top:5px solid @metro_red;
	border-bottom:1px solid @metro_red;
	*/
}
ul.search-list {
	max-height:500px;
	overflow:auto;
}
ul.search-list li {
	clear:both;
	margin:0px 10px 10px 10px;
}
@pl_liWidth:150px;
ul.play-list {
	padding-top:10px;
	max-height:(@pl_liWidth * 2)+10;
	overflow:auto;
}
ul.play-list li {
	position:relative;
	width:@pl_liWidth;
	height:@pl_liWidth;
}
.icon-close {
	position:absolute;
	font-size:20px;
	top:-10px;
	right:10px;
}
.control {
	font-size:16px;
	color:#444;
	margin:0px 5px 0px 5px;
}
.video-detail {
	font-size:13px;
	margin:0px 10px 0px 0px;
}
p.small-title {
	text-overflow: ellipsis; /* will make [...] at the end */
	max-width: 90%; /* change to your preferences */
	white-space: nowrap; /* paragraph to one line */
	overflow:hidden; /* older browsers */
}
.title {
	margin:10px;
}

.icon-top {
	font-size:25px;
	margin:0px 25px 0px 25px;
	color:#333;
	text-transform:uppercase;
}
.control-left {
	font-size:25px;
	position:absolute;
	left:0px;
}
.control-right {
	font-size:25px;
	position:absolute;
	right:0px;
}
.search-result {
	position:relative;
}

.video-header, .video-footer {
	font-size:16px;
	width:90%;
	position:absolute;
	left:10px;
}
.video-header {
	top:0px;
}
 .video-footer {
	bottom:0px;
 }

.my-thumbnail {
	margin:0px auto;
}
