@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/2HG_tEPiQ4Z6795cGfdivLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 100;
  src: local('Josefin Sans Thin'), local('JosefinSans-Thin'), url(http://themes.googleusercontent.com/static/fonts/josefinsans/v4/q9w3H4aeBxj0hZ8Osfi3dy1dfeF-hbOdKKuBDEXxqhQ.woff) format('woff');
}
/*
	src: local('Lato Light'), local('Lato-Light'), url('../fonts/lato.woff') format('woff');
	src: local('Lato Light Italic'), local('Lato-LightItalic'), url('../fonts/lato-italic.woff') format('woff');
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	src: local('Lato Italic'), local('Lato-Italic'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/RYyZNoeFgb0l7W3Vu1aSWOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
*/
html {
  height: 100%;
}
body {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 16px;
}
body.modal-open {
  overflow: auto;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.half-width {
  width: 50%;
}
.half-height {
  height: 50%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Trebuchet MS", sans-serif;
}
legend {
  border-bottom: 0px;
}
label {
  font-weight: 100;
}
table.gradient-style th,
table.gradient-style td {
  padding: 5px;
  text-align: center;
}
table.gradient-style th.text-left,
table.gradient-style td.text-left {
  text-align: left;
}
table.gradient-style tr {
  margin: 5px 0px 5px 0px;
  /* Space out the Bootstrap <hr> more */
}
.background-opacity {
  background: rgba(254, 254, 254, 0.2);
}
.background-opacity0 {
  background: rgba(0, 0, 0, 0.2);
}
.owesyou {
  color: #27ae60;
}
.youowe {
  color: #e74c3c;
}
.featurette {
  padding-top: 30px;
}
.featurette-image {
  margin-top: -30px;
}
.featurette-heading {
  text-align: left;
}
.featurette-divider {
  margin: 80px 0px 20px 0px;
  /* Space out the Bootstrap <hr> more */
}
.featurette-divider3 {
  margin: 20px 0px 20px 0px;
  /* Space out the Bootstrap <hr> more */
  clear: both;
}
.featurette-divider4 {
  margin: 5px 0px 5px 0px;
  /* Space out the Bootstrap <hr> more */
  clear: both;
}
.featurette-divider5 {
  margin: 10px 0px 5px 0px;
  /* Space out the Bootstrap <hr> more */
  clear: both;
}
.featurette-divider2 {
  margin: 40px 0px;
  /* Space out the Bootstrap <hr> more */
}
.height-200 {
  height: 200px;
  max-height: 200px;
}
.height-300 {
  height: 300px;
  max-height: 300px;
}
.img-responsive {
  margin: 0px auto;
}
body.tube {
  background: #f1f1f1;
  background-repeat: repeat;
}
.player-wrapper {
  box-sizing: border-box;
}
.green-border {
  border: 6px solid #339966;
  /*
	border-right:5px solid @metro_green;
	border-left:5px solid @metro_green;
	border-top:5px solid @metro_green;
	border-bottom:1px solid @metro_green;
	*/
}
.red-border {
  border: 6px solid #c24747;
  /*
	border-right:5px solid @metro_red;
	border-left:5px solid @metro_red;
	border-top:5px solid @metro_red;
	border-bottom:1px solid @metro_red;
	*/
}
ul.search-list {
  max-height: 500px;
  overflow: auto;
}
ul.search-list li {
  clear: both;
  margin: 0px 10px 10px 10px;
}
ul.play-list {
  padding-top: 10px;
  max-height: 310px;
  overflow: auto;
}
ul.play-list li {
  position: relative;
  width: 150px;
  height: 150px;
}
.icon-close {
  position: absolute;
  font-size: 20px;
  top: -10px;
  right: 10px;
}
.control {
  font-size: 16px;
  color: #444;
  margin: 0px 5px 0px 5px;
}
.video-detail {
  font-size: 13px;
  margin: 0px 10px 0px 0px;
}
p.small-title {
  text-overflow: ellipsis;
  /* will make [...] at the end */
  max-width: 90%;
  /* change to your preferences */
  white-space: nowrap;
  /* paragraph to one line */
  overflow: hidden;
  /* older browsers */
}
.title {
  margin: 10px;
}
.icon-top {
  font-size: 25px;
  margin: 0px 25px 0px 25px;
  color: #333;
  text-transform: uppercase;
}
.control-left {
  font-size: 25px;
  position: absolute;
  left: 0px;
}
.control-right {
  font-size: 25px;
  position: absolute;
  right: 0px;
}
.search-result {
  position: relative;
}
.video-header,
.video-footer {
  font-size: 16px;
  width: 90%;
  position: absolute;
  left: 10px;
}
.video-header {
  top: 0px;
}
.video-footer {
  bottom: 0px;
}
.my-thumbnail {
  margin: 0px auto;
}
