extends layout

block content
	//modals
	include ../../common/control
	include ../../common/message-area
	include ../../common/cardback
	include prev-round
	include prev-game
	.row.text-center
		include buttons
		include table-layout
		include cards
