p.text-justify
	| a python command line tool based on 
	a(href='http://gitstats.sourceforge.net/' target='_blank') gitstats
	|  for generating awesome statistics for your local git repositories. This tool is ideal for hosting your stats locally where your git repo resides. Uses ultra cool visualization graphs and tables. Includes Bootstrap, jqplot, DataTables libraries for awesome visualization. Do not forget to check out the samples before downloading. Download and use the --help option to use the tool.
h4 Tested with
ul
	li jQuery latest
	li Angular JS 1.2+
	li Python (2.7+)
	li Google Chrome & Mozilla (better !!)
	li Linux 
