.full-height.awards(ng-controller='Awards')
	.container.text-center
		h1.text-center.title
			em My Awards
		hr.featurette-divider3
		.col-md-12.col-sm-12.featurette-divider3
			.col-md-2.col-sm-2
			.col-md-8.col-sm-8
				.col-md-6.col-sm-6.pointer.page-right.page-elem.page-cover-front(style="z-index:10", ng-click='pageTurn(0)')
					.content(ng-class="{'opacity-0':page >= 0}")
						h3.text-center.title &nbsp;
						.featurette-divider3
						.half-width.img-responsive
							img.img-responsive(ng-src='/portfolio/images/awards.png')
						//.height-100
						//i.ighlighted.fa.fa-3x.fa-angle-double-right
				.col-md-6.col-sm-6.page-right.page-elem(style="z-index:{{9-$index}}", ng-repeat='award in awards track by $index', g-click='pageTurn($index+1)')
					.content(ng-class="{'opacity-0':page+1 != $index+1}")
						.content-heading
							h5.text-center
								span.pointer.fa.fa-2x.fa-angle-double-left.pull-left(ng-click='pageTurn(page)')
								span {{page+1}}/{{awards.length}}
								span.pointer.fa.fa-2x.fa-angle-double-right.pull-right(ng-click='pageTurn(page+1)')
							//img.img-responsive.img-item.block3.menu-icon(src='/portfolio/images/awards.png')
							img.img-responsive.block2a(ng-src='/portfolio/images/{{award.img}}')
							h4.text-center.small-title
								span(ng-bind='award.result')
							h3.text-center.title.text-underline.no-margin
								em(ng-bind='award.name')
						.content-body.height-200.full-width.overflow-auto.margin-5
							.height-50.responsive-heading
							p(ng-bind='award.data')
				.col-md-6.col-sm-6.page-right.page-elem.page-cover-back.pointer(style="z-index:{{9 - awards.length}}" ng-click='reset()')
					//.content.featurette-divider
					//	h4.text-center
					//		a.btn.btn-danger(href='javascript:void(0);',) Reset
				//.col-md-6.col-sm-6.page-left.page-elem(style="z-index:9")
			.col-md-2.col-sm-2
