.half-height.awards(ng-controller='Awards')
	.container
		.row.text-center.featurette-divider3
			h1 Awards
			hr.featurette-divider3
			.col-md-12.col-sm-12.lead.well.background-metroJade
				.col-md-4.col-sm-4
					p
						em Standing Ovation Award
						| &nbsp;from Symantec Marketing team for action in the making of Symantec’s Disaster recovery solutions videos (1 min and 10 min versions).
				.col-md-4.col-sm-4
					p
						em Standing Ovation Award
						| &nbsp;from Symantec Engineering team for action in customer escalations and contribution towards product release.
				.col-md-4.col-sm-4
					p
						em Winner
						| &nbsp;of the hackathon event at Symantec Engineering team for developing the tool bugspies.
				//hr.featurette-divider3