.full-height.ackground-turquoise(ng-controller='Cover')
	.cover.color-clouds.col-md-12.col-sm-12
		.col-md-12.col-sm-12
			h5.text-center.no-margin &nbsp;
			.col-md-4.col-sm-4
			.col-md-4.col-sm-4
				img.img-responsive.img-circle.profile-pic(src='/portfolio/images/profile-2014.jpg')
		//img.img-responsive.mg-circle.block0.profile-pic(src='/portfolio/images/pp3.png')
		.col-md-12.col-sm-12.camouflage
			.col-md-10.col-sm-10.col-md-offset-1.col-sm-offset-1
				textarea.height-200.title#txt.simulate-typing(disabled='disabled')
				//
					ul.list-inline.text-center
						li
							h2
								span systems &nbsp;
								span.fa.fa-star
								span &nbsp;
						li
							h2
								span web &nbsp;
								span.fa.fa-star
								span &nbsp;
						li
							h2
								span networks &nbsp;
								//span.fa.fa-star
								//span &nbsp;
			.remaining-cover.col-md-12.col-sm-12
		.remaining-cover.col-md-12.col-sm-12
	.remaining-cover.col-md-12.col-sm-12
		h5.no-margin.text-center.valign-middle &nbsp;
		//textarea.height-50.title#txt2.simulate-typing(disabled='disabled')
		.col-md-12.col-sm-12.responsive-heading
			.col-md-4.col-sm-4
			.col-md-4.col-sm-4
				img.img-responsive.profile-pic(style='max-height:150px', src='/portfolio/images/name.png')
			//span.fa.fa-2x.color-black.fa-search-plus.pointer(ng-click='moveRight()')
		.col-md-12.col-sm-12
			h1.text-center.color-black
				span.font-stylish Anoop Manjunath Mageswaran
