.full-height
	include dropdown
	.cover(ng-controller='Cover')
		h4.title.text-center Hi asdasda, asdasdasdas, adsasdasdas dasdasdasdasdasd
			asdasddddd asdasdas asdasdasd adasdasd adasdasd asdasdasda
