.full-height(ng-controller='Cover')
	include dropdown
	.cover
		h4.title.text-center Hi, I am a full stack developer from Silicon Valley
			asdasdasdsa asdasdasd adasdasd asdasdasd asdasdasdasd
	.container
	//
		.row
			.col-md-4.col-xs-4.col-sm-4
				.cover-item.background-sunFlower.img-circle
					h2.text-center(ng-click='click1(0)') Skills
			.col-md-4.col-xs-4.col-sm-4
				.cover-item.background-emerald.img-circle
					h2.text-center(ng-click='click1(1)') Projects
			.col-md-4.col-xs-4.col-sm-4
				.cover-item.background-orange.img-circle
					h2.text-center(ng-click='click1(2)') About me

