.full-height
	include dropdown
	.cover(ng-controller='Cover')
		h4.title.text-center Hi, I am a full stack developer from San Francisco
			asdasdasdsa asdasdasd adasdasd asdasdasd asdasdasdasd
	.container
		.row
			.col-md-4.col-xs-4.col-sm-4
				.cover-item.background-metroGreen.img-circle.img-polaroid
					h2.text-center(ng-click='click1(0)') Skills
			.col-md-4.col-xs-4.col-sm-4
				.cover-item.background-metroPurple.img-circle.img-polaroid
					h2.text-center(ng-click='click1(1)') Projects
			.col-md-4.col-xs-4.col-sm-4
				.cover-item.background-metroRed.img-circle.img-polaroid
					h2.text-center(ng-click='click1(2)') About me

