.dropdown
	a.dropdown-toggle.color-clouds(data-toggle="dropdown", href='javascript:void(0);')
		i.fa.fa-list-ul.fa-2x
		//img.img-30(src='/portfolio/images/icon.png', alt='')
	ul.dropdown-menu
		li
			a(target='_blank', href='https://twitter.com/socceranoo')
				i.fa.fa-twitter.fa-3x
		li
			a(target='_blank', href='https://facebook.com/socceranoo')
				i.fa.fa-facebook.fa-3x
		li
			a(target='_blank', href='https://www.linkedin.com/pub/manjunath-mageswaran/14/466/372/')
				i.fa.fa-3x.fa-linkedin
		li
			a(target='_blank', href='https://plus.google.com/u/0/105434114873208835365/')
				i.fa.fa-3x.fa-google-plus
		li
			a(target='_blank', href='https://github.com/socceranoo/')
				i.fa.fa-3x.fa-github
		li
			a(target='_blank', href='https://pinterest.com/socceranoo/')
				i.fa.fa-3x.fa-pinterest