.dropdown
	a.dropdown-toggle.color-midnightBlue(data-toggle="dropdown", href='javascript:void(0);')
		span.glyphicon.glyphicon-th
		//img.img-30(src='/portfolio/images/icon.png', alt='')
	ul.dropdown-menu
		li
			a(target='_blank', href='https://twitter.com/socceranoo')
				img(src='/portfolio/images/twitterlogo4.png', alt='')
		li
			a(target='_blank', href='https://facebook.com/socceranoo')
				img(src='/portfolio/images/fblogo4.png', alt='')
		li
			a(target='_blank', href='https://www.linkedin.com/pub/manjunath-mageswaran/14/466/372/')
				img(src='/portfolio/images/linkedinlogo4.png', alt='')
		li
			a(target='_blank', href='https://plus.google.com/socceranoo/')
				img(src='/portfolio/images/gpluslogo4.png', alt='')
