.full-height.gallery(ng-controller='Gallery')
	.container.olor-clouds.text-center
		h1.text-center
			em Gallery
		hr.featurette-divider3
		.col-md-12.col-sm-12
			textarea.height-100.title.color-black#coming-soon.simulate-typing(disabled='disabled')
			.snowkick-wrapper.featurette-divider2
				.snowkick-img.img-thumbnail.pointer(ng-click='restartSnowkick(temp)')
