extends layout

block content
	include main
	script.
		var superSet= !{JSON.stringify(superSet)};
		var projects= !{JSON.stringify(projects)};
		var works= !{JSON.stringify(works)};
	include ../../common-scripts
