extends layout

block content
	include main
	script.
		var superSet= !{JSON.stringify(superSet)};
		var projects= !{JSON.stringify(projects)};
		var works= !{JSON.stringify(works)};
		var current = !{JSON.stringify(current)};
	include ../../common-scripts
