extends layout

block content
	include cover
	include skillset
	include projects
	include interests
	include awards
	include contact
	script.
		var superSet= !{JSON.stringify(superSet)};
	include ../../common-scripts
