extends layout

block content
	include cover
	include skillset
	include projects
	include interests
	.full-height
		include awards
		include contact
	script.
		var skillSet= !{JSON.stringify(skillSet)};
	include ../../common-scripts
