.full-height.interests(ng-controller='Interests')
	.container
		.row.text-center
			h1 About me
			.col-md-12.col-sm-12
				//h1.text-center
					a.btn.btn-info(ng-click='nextInterest(0)') Next
					a.btn.btn-info(ng-click='selectSubScreen(3, 0, 0)') test
			.col-md-12.col-sm-12
				.col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-2
					ul.grid.cs-style-4.interests-metro.list-unstyled
						.pointer(ng-repeat='item in interests[0] track by $index', ng-click='interestClick(0, item)')
							li.item-class(ng-mouseenter='mouseEnter(0, item)', ng-mouseleave='mouseLeave(0, item)', class='grid-class-{{item.index}}').metro-container.img-rounded
								.metro(ng-class='{"no-pointer img-front":item.index==0}')
									img.img-responsive.img-item.block(ng-src='/portfolio/images/about-me/{{item.image}}.png')
									h3.text-center {{item.name}}
								.height-150
								ul.metro-details(class='background-{{item.bg}}' ng-class='{"color-clouds":item.invert == false}')
									h3.text-center {{item.name}}
									li(ng-repeat='stuff in item.points track by $index')
										span {{stuff}}

	script.
		var interests1 = !{JSON.stringify(interests)};
		var interests2 = !{JSON.stringify(interests)};
