doctype html
html(ng-app='')
	head
		title= title
		include ../../common-css
		//link(rel='icon', type='ico', href='/portfolio/images/emblemv.png')
		link(rel='icon', type='ico', href='/portfolio/images/icon.png')
		link(rel='STYLESHEET', type='text/css', href='/portfolio/style/component.css')
		link(rel='STYLESHEET', type='text/css', href='/portfolio/style/pt-page.css')
		link(rel='STYLESHEET', type='text/css', href='/portfolio/style/animations.css')
		link(rel='STYLESHEET', type='text/css', href='/portfolio/style/portfolio.css')

	body.portfolio
		include item-selector
		block content
		script(src="/portfolio/scripts/boxgrid.js").
		script(src="/portfolio/scripts/toucheffects.js").
		script(src="/portfolio/scripts/pagetransitions.js").
		script(src="/portfolio/scripts/portfolio.js").
