.full-height(ng-controller='Main')
	.dropdown
		a.dropdown-toggle.color-clouds(data-toggle="dropdown", href='javascript:void(0);')
			i.fa.fa-list-ul.fa-2x
		ul.dropdown-menu
			-each page,index in pages
				li.pointer(ng-click='nextPt('+index+')')
					h1.glyphicon(class="glyphicon-"+page.icon+" color-"+page.bg)
					//h4= page.name
	//
		.dropdown
			a.btn.btn-primary.img-circle.background-midnightBlue(ng-click='moveRight();' href='javascript:void(0);')
				span.glyphicon.glyphicon-list
		.left-pane.background-black
			ul.list-unstyled
				-each page,index in pages
					li.pointer(ng-click='nextPt('+index+')')
						h1.item-nav.ighlighted.glyphicon(class="glyphicon-"+page.icon+" color-"+page.bg)
						//h4= page.name

	#pt-main.pt-perspective
		.pt-page.pt-page-1
			include cover
		.pt-page.pt-page-2
			include skillset
		.pt-page.pt-page-2
			include work
		.pt-page.pt-page-2
			include interests
		.pt-page.pt-page-2
			include awards
		.pt-page.pt-page-2
			include contact
