.full-height.main(ng-controller='Main')
	//
		.dropdown
			a.dropdown-toggle.color-clouds(data-toggle="dropdown", href='javascript:void(0);')
				i.fa.fa-list-ul.fa-2x
	a.menu-icon.btn.background-cloud(ng-hide='current == 0', ng-click='moveRight();' href='javascript:void(0);')
		img.img-responsive.img-item.block3(src='/portfolio/images/projects/emblem.png')
	.left-pane.background-white.text-center
		include page-list
		include project-list
		//include interest-list
	#pt-main.pt-perspective
		.pt-page.pt-page-1
			include cover
		.pt-page.pt-page-2
			include skillset
		.pt-page.pt-page-3
			include project-home
		.pt-page.pt-page-4
			include interests
		.pt-page.pt-page-5
			include awards
		.pt-page.pt-page-6
			include contact
		.pt-page.pt-page-7
			.container.screen-container.text-center
		.pt-page.pt-page-8
			.container.screen-container.text-center
		.pt-page.pt-page-9
			include project-content
			//include interest-content
