.full-height(ng-controller='Main')
	//
		.dropdown
			a.dropdown-toggle.color-clouds(data-toggle="dropdown", href='javascript:void(0);')
				i.fa.fa-list-ul.fa-2x
	ul.dropdown.list-unstyled(ng-hide='current == 0')
		-each page,index in pages
			li.pointer(ng-click='nextPt('+index+')')
				h1.glyphicon(class="glyphicon-"+page.icon+" color-"+page.bg)
				//h4= page.name
	#pt-main.pt-perspective
		.pt-page.pt-page-1
			include cover
		.pt-page.pt-page-2
			include skillset
		.pt-page.pt-page-3
			include work
		.pt-page.pt-page-4
			include interests
		.pt-page.pt-page-5
			include awards
		.pt-page.pt-page-6
			include contact
		.pt-page.pt-page-7
			.container.text-center
				include lorem
		.pt-page.pt-page-8
			.container.text-center
				include lorem
