.full-height.main(ng-controller='Main')
	include screen-modal
	include about-modal
	include buttons-panes
	#pt-main.pt-perspective
		.pt-page.pt-page-1
			include cover
		.pt-page.pt-page-2
			include skillset
		.pt-page.pt-page-3
			include project-home
		.pt-page.pt-page-4
			include interests
		.pt-page.pt-page-5
			include awards
		.pt-page.pt-page-6
			include contact
		.pt-page.pt-page-7
			include work-home
		.pt-page.pt-page-8
			include gallery
		.pt-page.pt-page-9
			.container.screen-container.text-center
		.pt-page.pt-page-10
			.container.screen-container.text-center
		.pt-page.pt-page-11
			include screen-content
