ul.page-list.camouflage.list-unstyled.featurette-divider3
	li
		img.img-responsive.img-item.block3.margin-10(src='/portfolio/images/icon3.png')
	hr.featurette-divider4
	-each page,index in pages
		li.pointer(ng-click='nextPt('+page.page+')')
			//h1.glyphicon(class="glyphicon-"+page.icon)
			h3.fa.fa-3x.title(class="fa-"+page.fa)
			//span= page.name
		hr.featurette-divider4
