.full-height.projects(ng-controller='Projects')
	.dropdown
		a#tblcontents.btn.btn-danger.img-circle(ng-click='moveRight();' href='javascript:void(0);')
			span.glyphicon.glyphicon-list
	.left-pane.background-metroJade.menu-panel.text-center
		h1 PROJECTS
		hr
		ul#menu-toc.menu-toc.list-unstyled
			- each project in projects
				li.menu-toc-current
					h3
						a.big(href='javacript:void(0);' ng-click='projectClick()')= project.name

	.pt-triggers
		a.btn.btn-danger(ng-click='nextPt()') next project
	#pt-main.pt-perspective
		.pt-page.pt-page-1.background-metroNavy
			.container.text-center
				include lorem
		.pt-page.pt-page-2.background-metroPurple
			.container.text-center
				include lorem