.full-height.projects(ng-controller='Projects')
	.container.text-center
		h1.text-center Projects
		hr.featurette-divider3
		.col-md-12.col-sm-12.featurette-divider
			.col-md-4.col-xs-4.col-sm-4.item-skill(ng-class='{"opacity-none":project.valid == false}', ng-repeat='project in projects track by $index')
				.background-opacity.well.pointer(ng-click='selectSubScreen(20+$index)')
					h1(ng-bind='project.name')
					img.img-responsive.img-item.block(ng-src='/portfolio/images/projects/{{project.img}}')
