.full-height.projects(ng-controller='Projects')
	.dropdown
		a.btn.btn-primary.img-circle.background-midnightBlue(ng-click='moveRight();' href='javascript:void(0);')
			span.glyphicon.glyphicon-list
	.left-pane.background-midnightBlue.text-center.color-concrete
		h1 PROJECTS
		hr
		ul.list-unstyled
			- each project in projects
				li(style="cursor:pointer")
					h3
						span(ng-click='projectClick()')= project.name

	.pt-triggers
		a.btn.btn-primary(ng-click='nextPt()') next project
	#pt-main.pt-perspective
		.pt-page.pt-page-1
			.container.text-center
				include lorem
		.pt-page.pt-page-2
			.container.text-center
				include lorem