.full-height.projects(ng-controller='Projects')
	.left-pane.background-alizarin.menu-panel
		h3 Table of Contents
		ul#menu-toc.menu-toc.list-unstyled
			li.menu-toc-current
				a(href='#item1') Self-destruction
			li
				a(href='#item2') Why we die
			li
				a(href='#item3') The honeymoon
			li
				a(href='#item4') A drawing joke
			li
				a(href='#item5') Commencing practice
	.dropdown
		a#tblcontents.btn.btn-danger.img-circle(ng-click='moveRight();' href='javascript:void(0);')
			span.glyphicon.glyphicon-list
	.pt-triggers
		button.btn.btn-inverse(ng-click='nextPt()') Show next page transition
	#pt-main.pt-perspective
		.pt-page.pt-page-1.background-metroNavy
			include lorem
		.pt-page.pt-page-2.background-metroPurple
			include lorem
