.full-height.projects(ng-controller='Projects')
	.container.text-center
		h1.text-center.title
			em Personal projects
		hr.featurette-divider3
		.col-md-12.col-sm-12.cs-style-3
			.col-md-4.col-sm-4.item-class.item-skill(ng-class='{"opacity-none":project.valid == false}', ng-repeat='project in projects track by $index')
				.pointer.background-opacity1-4.well.grid-class-0.metro-container(ng-click='selectPage(2, $index)')
					.metro
						h3.title.height-50
							em(ng-bind='project.name')
						.height-15
						img.img-responsive.img-item.block(ng-src='/portfolio/images/projects/{{project.img}}')
						.height-25
					.metro-details.content.color-black
						h2.text-left
							span.fa(class="fa-quote-left")
						h3.text-center
							span &nbsp;...&nbsp;
							span {{project.desc}}
							span &nbsp;...&nbsp;
						h2.text-right
							span.fa(class="fa-quote-right")
