ul.list-unstyled.featurette-divider3.camouflage(ng-show='curSubScreen >= 200 && curSubScreen < 300')
	li.pointer(ng-click='nextPt(2)')
		h4.text-center
			span.fa.fa-2x.fa-level-up
			span &nbsp; back
	//h1.block3 Projects
	hr
	- each project,index in projects
		li.pointer.clearfix(ng-click='selectSubScreen(2, '+index+', 0)')
			img.list-image.img-responsive.img-item.block3(src='/portfolio/images/projects/'+project.img)
			h2.block3.list-item= project.name
			hr
