#screen-modal.modal.fade.screen-modal
	.modal-content.background-opacity0(data-dismiss='modal')
		//h2.menu-icon-top-right.glyphicon.glyphicon-remove.color-metroRed(data-dismiss='modal')
		img.img-responsive.pointer(ng-src='{{curScreenImage}}')
