- each project,index in projects
	- var cat = 2
	.full-height.project-item
		include project-screen-minimal
		//include project-screen

- each project,index in works
	- var cat = 6
	.full-height.work-item
		include project-screen-minimal
