#screen-modal.modal.fade
	.modal-content.background-transparent(style='width:90%;margin:auto;margin-top:5%', data-dismiss='modal')
		//i.menu-icon-top-right.fa.fa-close.fa-2x.pointer.color-metroRed(data-dismiss='modal')
		img.img-responsive.pointer(ng-src='{{curScreenImage}}')
