.full-height.skillSet(ng-controller='SkillSet')
	//include dropdown
	.overlay#super-skill-overlay
		.container
			h2.text-center
				span(ng-bind='currentSuperSkill.name')
				span.muted.rb-close-top.glyphicon.glyphicon-remove-circle.pull-right(ng-click='superSkillClose()')
			hr.featurette-divider3
			.row
				.col-md-12.col-sm-12
					ul.rb-grid.list-unstyled.list-inline.text-center.background-opacity.img-rounded
						li.item-skill(ng-class='{"opacity-nne":skill.valid == false}', ng-repeat='skill in currentSuperSkill.skills' ng-attr-title='{{skill.name}}')
							img.img-responsive.img-skill.block.img-rounded.img-circle(ng-src='/portfolio/images/skills/{{skill.image}}.jpg' ng-click='skillClick($event, skill)')

	.overlay#skill-overlay
		.container
			h2.text-center
				span(ng-bind='currentSkill.name')
				span.muted.rb-close-top.glyphicon.glyphicon-remove-circle.pull-right(ng-click='skillClose()')
			.row
				.col-md-12.col-sm-12
					img.img-responsive.img-circle.block(ng-src='/portfolio/images/skills/{{currentSkill.image}}.jpg')
					.col-md-6.col-sm-6.col-md-offset-3.col-sm-offset-3.clearfix
						.well.featurette-divider3(style="color:#000")
							ul
								li(ng-repeat='stuff in currentSkill.points track by $index')
									span(ng-bind='{{stuff}}')
	.container
		.row
			h1.text-center Skills
			hr.featurette-divider3
			.col-md-12.col-sm-12.col-s-12
				.col-md-4.col-sm-4.item-skill(ng-class='{"opacity-none":superSkill.valid == false}', ng-repeat='superSkill in superSet' ng-attr-title='{{superSkill.name}}')
					.background-opacity.well.img-rounded
						h2.text-center {{superSkill.name}}
						img.img-responsive.block.img-skill.img-rounded(ng-src='/portfolio/images/skills/{{superSkill.image}}.png' ng-click='superSkillClick($event, superSkill)')
