#pt-main.pt-perspective.full-height
	.pt-page.pt-page-1
		.dropdown
			.pt-triggers
				a.btn.btn-primary(ng-click='nextPt()') next
		include cover
		//include projects
	.pt-page.pt-page-2
		.dropdown
			.pt-triggers
				a.btn.btn-primary(ng-click='nextPt()') next
		include skillset
	.pt-page.pt-page-3
		.dropdown
			.pt-triggers
				a.btn.btn-primary(ng-click='nextPt()') next
		include interests
	.pt-page.pt-page-4
		.dropdown
			.pt-triggers
				a.btn.btn-primary(ng-click='nextPt()') next
		include awards
	.pt-page.pt-page-5
		.dropdown
			.pt-triggers
				a.btn.btn-primary(ng-click='nextPt()') next
		include contact
