.full-height.projects(ng-controller='Projects')
	a.btn.btn-primary.pull-left.img-circle.background-midnightBlue(ng-click='moveRight();' href='javascript:void(0);')
		span.glyphicon.glyphicon-list
	a.btn.btn-primary.pull-right.img-circle.background-sunFlower(ng-click='nextScreen();' href='javascript:void(0);')
		span.glyphicon.glyphicon-tasks
	.left-pane.background-midnightBlue.text-center.color-concrete
		h1 PROJECTS
		hr
		ul.list-unstyled
			- each project in projects
				li(style="cursor:pointer")
					h3
						span(ng-click='projectClick()')= project.name

	.container.text-center
		include lorem
