.full-height.projects(ng-controller='Work')
	.container.text-center
		h1.text-center.title
			em Work
		hr.featurette-divider3
		.col-md-12.col-sm-12.cs-style-3
			.col-md-4.col-sm-4.item-class.item-skill(ng-class='{"opacity-none":work.valid == false}', ng-repeat='work in works track by $index')
				.pointer.background-opacity1-2.well.grid-class-0.metro-container(ng-click='selectPage(6, $index)')
					.metro
						h3.title.height-50
							em(ng-bind='work.name')
						.height-15
						img.img-responsive.block(ng-src='/portfolio/images/projects/{{work.img}}')
					.metro-details.content.color-black
						.height-15
						h3.text-left
							span.fa(class="fa-quote-left")
						h3.text-center
							span &nbsp;...&nbsp;
							span {{work.desc}}
							span &nbsp;...&nbsp;
						h3.text-right
							span.fa(class="fa-quote-right")
