ul.pagination
	a.icon-top.glyphicon.glyphicon-list-alt(data-toggle='modal' href='#control-modal' title='Control data')
	a.icon-top.glyphicon.glyphicon-comment(data-toggle='modal' href='#chat-modal' title='Chat')
	a.icon-top.glyphicon.glyphicon-fast-backward(data-toggle='modal' href='#prev-game' title='Previous Game')
	a.icon-top.glyphicon.glyphicon-step-backward(data-toggle='modal' href='#prev-round' title='Previous Round')
	span.icon-top.color-metroPurple.heading= site
	a.icon-top.glyphicon.glyphicon-plus(href='javascript:void(0);' ng-click='addComputer()' title='Add Computer')
	a.icon-top.glyphicon.glyphicon-home(href='/razeplay/'+site+'-lobby' title='Back to game lobby')
	a.icon-top.glyphicon.glyphicon-retweet(data-toggle='modal' href='#card-back' title='Card back')
	a.icon-top.glyphicon.glyphicon-stats(data-toggle='modal' href='#card-back' title='stats')
