extends layout

block content
	//modals
	include ../../common/control
	include ../../common/message-area
	include ../../common/cardback
	include ../../common/prev-round
	include ../../common/prev-game
	.row.text-center
		include ../../common/buttons
		include table-layout
		include cards
		include trump-area
