extends layout

block content
	//modals
	include ../../common/control
	include ../../common/message-area
	include ../../common/cardback
	include prev-round
	include prev-game
	include bid-area
	.row.text-center
		include buttons
		h4.color-metroRed(ng-bind='info')
		include table-layout
		include cards
		include trump-area
