#prev-game.modal.fade(style='overflow:auto')
	.modal-dialog
		.modal-content
			.modal-header.text-center
				a.close(data-dismiss='modal') &times;
				h3 Previous game
			.modal-body.text-center
				#myCarousel.carousel.slide(ng-show='tableData.prevGame.allRounds.length')
					a.control.control-left(href="#myCarousel" data-slide="prev") <
					a.control.control-right(href="#myCarousel" data-slide="next") >
					.carousel-inner
						.item.active
							h2 Game Stats
							.table-layout
						.item(ng-repeat='roundObj in tableData.prevGame.allRounds track by $index')
							h2 Round{{$index+1}}
							.table-layout
								.card-holder(ng-repeat='obj in roundObj.round track by $index' class='pos'+total+'-{{shifter(obj.player)}}')
									.card.green-border(ng-class="{'red-border': obj.player%2 == 1, 'blue-border':$index == 0}" style='background-position:{{obj.card.bgPos[0]}}px {{obj.card.bgPos[1]}}px')
									span.player-name(ng-class="{'color-metroRed': obj.player%2 == 1}" ng-bind='tableData.players[shifter(obj.player)]')
