
// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId

#account-form-container.background-opacity
	form( method="post")#account-form.form-horizontal
		.text-center
			h1
			p#sub1.subheading Please tell us a little about yourself.
		hr
		fieldset
			#name-cg.control-group.clearfix.featurette-divider3
				label.control-label(for='name-tf').col-md-3 Name
				.controls.col-md-7.col-md-offset-2
					input#name-tf.form-control(type='text', name='name', value= user.name)
			#email-cg.control-group.clearfix.featurette-divider3
				label.control-label(for='email-tf').col-md-3 Email
				.controls.col-md-7.col-md-offset-2
					input#email-tf.form-control(type='text', name='email', value= user.email)
			#clist-cg.control-group.clearfix.featurette-divider3
				label.control-label.col-md-3(for='country-list') Location
				.controls.col-md-7.col-md-offset-2
					select#country-list.form-control(name='country')
						each item in countries
							option(selected=item.name == user.country)= item.name
			hr
			.text-center
				h4#sub2.subheading
			#user-cg.control-group.clearfix.featurette-divider3
				label.control-label.col-md-3(for='user-tf') Username
				.controls.col-md-7.col-md-offset-2
					input#user-tf.form-control.disabled(type='text', name='user', value= user.user)
			#nickname-cg.control-group.clearfix.featurette-divider3
				label.control-label.col-md-3(for='nickname-tf') Nickname
				.controls.col-md-7.col-md-offset-2
					input#nickname-tf.form-control.disabled(type='text', name='nickname', value= user.nickname)
			#pass-cg.control-group.clearfix.featurette-divider3
				label.control-label.col-md-3(for='pass-tf') Password
				.controls.col-md-7.col-md-offset-2
					input#pass-tf.form-control(type='password', name='pass', value='')
			.form-actions.col-md-7.col-md-offset-5
				button.pull-left(type='submit')#account-form-btn2.btn.btn-success Submit
				button.pull-right(type='button')#account-form-btn1.btn.btn-danger Cancel

// display form errors in a custom modal window //

include modals/form-errors
