extends layout

block content
	.row
		.col-md-8.col-md-offset-2.background-opacity
			h2.text-center 
			.col-md-4
				h3.text-center DOLLARAZE
				a(href='/money').height-300
					img.img-circle.img-responsive.background-orange(src='/account/images/money-icon2.png')
			.col-md-4
				h3.text-center TRUMP
				a(href='/trump').height-300
					img.img-circle.img-responsive.background-peterRiver(src='/account/images/trump-icon.png')
			.col-md-4
				h3.text-center TUBE
				a(href='/tube').height-300
					img.img-circle.img-responsive.background-sunFlower(src='/account/images/synctube-icon2.png')


block scripts-specific
