!!! 5
html
	head
		title= title
		include ../../common-css
		link(rel='icon', type='ico', href='/account/images/emblemv5.png')
		link(rel='STYLESHEET', type='text/css', href='/account/style/account.css')

	body.account
		.container
			.featurette-divider
			block content
		include ../../common-scripts
		include scripts-common
		block scripts-specific
