
extends layout

block content
	.row
		#login-container.col-md-6.col-md-offset-3
			form( method="post")#login-form.background-opacity.col-md-10.col-md-offset-1
				.text-center
					h1 Hola !!!
					p.subheading please login
				.clearfix.featurette-divider3.form-group
					label.control-label.col-md-3 Username
					.col-md-9
						input.form-control(type="text", name="user", id='user-tf').required
				.clearfix.featurette-divider3.form-group
					label.control-label.col-md-3 Password
					.col-md-9
						input.form-control(type="password", name="pass", id='pass-tf').required

				.clearfix.featurette-divider3
					.col-md-4.col-md-offset-3
						button(type="submit")#btn-login.btn.btn-primary.btn-block
							i.glyphicon.glyphicon-lock
							| &nbsp; Sign in
				hr.featurette-divider2
				div.btm-links
					a.pull-left(href='javascript:void(0);')#forgot-password Forgot password?
					a.pull-right(href='/signup')#create-account Create account

	include modals/alert
	include modals/lost-password

block scripts-specific
	script(src='/account/scripts/views/login.js')
	script(src='/account/scripts/controllers/loginController.js')
	script(src='/account/scripts/form-validators/loginValidator.js')
	script(src='/account/scripts/form-validators/emailValidator.js')
