
extends layout

block content
	.row
		.col-md-6.col-md-offset-3
			include account
	include modals/alert

block scripts-specific
	script(src='/account/scripts/views/signup.js')
	script(src='/account/scripts/controllers/signupController.js')
	script(src='/account/scripts/form-validators/accountValidator.js')
