html {
  height: 100%;
}
body {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 16px;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Trebuchet MS", sans-serif;
}
legend {
  border-bottom: 0px;
}
label {
  font-weight: 100;
}
table.gradient-style th,
table.gradient-style td {
  padding: 5px;
  text-align: center;
}
table.gradient-style th.text-left,
table.gradient-style td.text-left {
  text-align: left;
}
table.gradient-style tr {
  margin: 5px 0px 5px 0px;
  /* Space out the Bootstrap <hr> more */
}
.background-opacity {
  background: rgba(254, 254, 254, 0.2);
}
.background-opacity0 {
  background: rgba(0, 0, 0, 0.2);
}
.owesyou {
  color: #27ae60;
}
.youowe {
  color: #e74c3c;
}
.featurette {
  padding-top: 30px;
}
.featurette-image {
  margin-top: -30px;
}
.featurette-heading {
  text-align: left;
}
.featurette-divider {
  margin: 80px 0px 20px 0px;
  /* Space out the Bootstrap <hr> more */
}
.featurette-divider3 {
  margin: 20px 0px 20px 0px;
  /* Space out the Bootstrap <hr> more */
  clear: both;
}
.featurette-divider4 {
  margin: 5px 0px 5px 0px;
  /* Space out the Bootstrap <hr> more */
  clear: both;
}
.featurette-divider2 {
  margin: 40px 0px;
  /* Space out the Bootstrap <hr> more */
}
.height-200 {
  height: 200px;
  max-height: 200px;
}
.height-300 {
  height: 300px;
  max-height: 300px;
}
.img-responsive {
  margin: 0px auto;
}
body.portfolio {
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: 100;
  height: 100%;
  overflow-x: hidden;
}
.full-height {
  position: relative;
  top: 0px;
  left: 0px;
}
.cover {
  background: url('../images/bg1.jpg') no-repeat center center;
  border-bottom: 10px solid #e5e5e5;
  -webkit-transition: lieft 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
  height: 700px;
}
.skillSet {
  background: url('../../money/images/money-7.1.jpg') no-repeat center center;
  border-bottom: 10px solid #e5e5e5;
  -webkit-transition: lieft 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
}
.projects {
  background: url('../../account/images/sfskyline.jpg') no-repeat center center;
  border-bottom: 10px solid #e5e5e5;
  -webkit-transition: lieft 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
  color: #efefef;
}
.cover .title {
  font-size: 45px;
  max-width: 45%;
  margin: 0px auto;
  padding-top: 10%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: italic;
}
.dropdown {
  position: absolute;
  top: 2%;
  left: 2%;
  font-size: 30px;
  z-index: 100;
  border-radius: 50%;
}
.dropdown-menu {
  background: transparent;
  min-width: 35px;
  margin: 0px -15px;
}
.img-skill {
  cursor: pointer;
  margin: 20px auto;
  max-height: 200px;
}
.img-skill:hover {
  opacity: 0.3;
}
.item-selector {
  position: fixed;
  top: 30%;
  right: 2%;
  z-index: 100;
}
.item-selector li {
  cursor: pointer;
  width: 8px;
  height: 8px;
  float: none;
  margin: 15px auto;
  background: #2c3e50;
}
.item-selector li.active {
  width: 16px;
  height: 16px;
  background: #f1c40f;
}
.overlay {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: -1;
  pointer-events: none;
  cursor: default;
}
.slideRight {
  left: 15%;
}
.left-pane {
  width: 15%;
  height: 100%;
  position: absolute;
  left: -15%;
}
.grid li {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: italic;
  margin: 15px 0px;
}
.metro {
  height: 250px;
}
.rb-close-top {
  position: absolute;
  right: 1%;
  top: 1%;
}
.rb-close-bottom {
  position: absolute;
  right: 1%;
  bottom: 1%;
}
@media (max-width: 998px) {
  .cover .title {
    font-size: 30px;
  }
  .grid li {
    margin: 10px 0px;
  }
  .metro {
    max-height: 200px;
  }
}
@media (max-width: 767px) {
  .grid li {
    margin: 10px 0px;
  }
  .metro {
    max-height: 176px;
  }
}
