@import "../../common/less/main";
	::-webkit-scrollbar {
		display: none;
	}
	html {
		overflow:hidden;
	}
	body.portfolio {
		position: relative;
		//.setFullBg('../images/minimal.jpg');
		font-weight: 100;
		font-family: 'proxima-nova-light', sans-serif;
		font-family: 'Lato', sans-serif;
		color:#efefef;
		height: 100vh;
		top:0px;
		bottom:0px;
		left:0px;
		right:0px;
		overflow: -moz-scrollbars-none;
		overflow:hidden;
	}
	@colorItemDim : 50px;
	@colorItemMargin : 2px;
	.color-item {
		height:@colorItemDim;
		width:@colorItemDim;
		margin:@colorItemMargin;
	}

	@colorPaneSize : @colorItemDim + 2 * @colorItemMargin;
	@leftPaneSize : 5%;
	@rightPaneSize : 25%;
	@topPaneSize : 0%;
	@bottomPaneSize : @colorPaneSize;
	// left right top bottom
	.setPanes(@leftPaneSize, @rightPaneSize, @topPaneSize, @bottomPaneSize);

	@leftBarSize : 5%;
	@rightBarSize : 0%;
	@topBarSize : 0%;
	@bottomBarSize : 0%;
	.setBars(@leftBarSize, @rightBarSize, @topBarSize, @bottomBarSize);

	.full-height .container {
		padding-left:@leftBarSize/2;
		padding-right:@rightBarSize/2;
		padding-top:@topBarSize/2;
		padding-bottom:@bottomBarSize/2;
	}

	.screen-modal {
		width:95%;
		margin:20px auto;
	}
	.simulate-typing{
		font-style:italic;
		margin:auto;
		width:100%;
		background:transparent;
		//color:inherit;
		border:0px;
		text-align:center;
		resize:none;
	}

	.cover {
		//background: #111;
		border-bottom:10px solid #FFFFFF;
		//.setFullBg('../images/cover-mac.jpg');
		.setFullBg('../images/mac.jpg');
		height:70%;
		background-size:cover;
	}
	.profile-pic {
		max-height:250px;
	}
	.remaining-cover {
		height:30%;
	}

	.skillSet {
		//.setFullBg('../images/minimal.jpg');
		background: #FFF;
		color:#333;
	}

	.main {
		.setFullBg('../images/minimal.jpg');
		overflow: visible !important;
	}
	.projects {
		//.setFullBg('../images/minimal.jpg');
		overflow: visible !important;
		color:#333;
	}

	.contact {
		//.setFullBg('../../account/images/ggbridge-blur.jpg');
		//.setFullBg('../../account/images/sfskyline.jpg');
		//.setFullBg('../images/dark-2.jpg');
		background: #333;
		font-family: 'Lato', sans-serif !important;
	}
	.interests {
		//.setFullBg('../../account/images/sfskyline.jpg');
		//.setFullBg('../../account/images/ggbridge-blur.jpg');
		//.setFullBg('../images/minimal.jpg');
		//.setFullBg('../../account/images/rm.jpg');
		color:#333;
	}
	.gallery {
		.setFullBg('../images/gaussian-blur.jpg');
		color:#000;
	}
	.awards {
		//.setFullBg('../images/gaussian-blur.jpg');
		color:#333;
	}
	.title {
		font-size:35px;
		font-weight:300;
	}
	.small-title {
		font-size:25px;
		font-weight:300;
	}
	.item-nav {
		font-size:45px;
	}
	.item-nav:hover {
		.scale-mixin(2);
	}
	.ul-nav li {
		margin:10px 30px;
	}
	.ul-nav li h1:hover {
		.scale-mixin(2);
	}
	.dropdown {
		position:absolute;
		top:10%;
		right:2%;
		z-index:10;
		padding:5px;
	}

	.dropdown-menu {
		background: transparent;
		min-width: 20px;
		margin:0px -20px;
	}
	.dropdown-menu li a {
		color:@clouds;
		margin:20px 0px;
	}
	.copy-right {
		position:absolute;
		bottom:0%;
		right:0%;
		z-index:10;
	}

	.item-skill {
		-webkit-transition: all 1s ease-in-out;
		-o-transition: all 1s ease-in-out;
		transition: all 1s ease-in-out;
		margin: 15px 0px 15px 0px;
	}
	.img-skill {
		margin: 20px auto;
		max-height:200px;
	}
	.img-skill:hover {
		//opacity:0.3;
	}

	.list-image {
		float:left;
		padding-left:10px;
	}
	.project-content {
		display:none;
		overflow:auto;
		position: absolute;
		top:0px;
		color:#333;
	}
	.snowkick-wrapper {
		margin: -20px auto;
	}
	.snowkick-img {
		height: 540px;
		max-height: 540px;
		width: 100%;
		max-width: 720px;
		background:url('../images/snowkick3.jpg');
		background-position:0px 0px;
		opacity: 0.9;
		.scale-mixin(1);
		z-index:9999;
		border:8px solid #fff;
	}
	.snowkick-img:hover {
		opacity: 0.8;
	}
	.item-selector {
		position: fixed;
		top: 30%;
		right: 2%;
		z-index:100;
	}
	@dim : 8px;
	.item-selector li {
		cursor: pointer;
		width: @dim;
		height: @dim;
		float:none;
		margin: 15px auto;
		//background:@midnightBlue;
		background:#777;
	}

	.item-selector li.active {
		width: 2 * @dim;
		height: 2 * @dim;
		background:@sunFlower;
		color:@sunFlower;
	}

	.overlay {
		opacity: 0;
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		transition: all 0.4s ease;
		z-index: -100;
		pointer-events: none;
		cursor: default;
	}

	/* the mixin is called, css outputted and iterations called */
	@stack-size:30px;
	@top-visible-width:@stack-size;
	@side-visible-width:@stack-size;
	.loop(@from, @side-visible-width, @top-visible-width);

	.rb-close-top {
		position:absolute;
		right:1%;
		top:1%;
		cursor: pointer;
		z-index:100;
	}
	.rb-close-bottom {
		position:absolute;
		right:1%;
		bottom:1%;
		cursor: pointer;
	}

	.overflow-div {
		overflow:auto;
	}

	.width85{
		width: 85% !important;
	}
	.social-icons li a {
		color:inherit;
	}
	.contact-method {
		-webkit-transition: all 2s ease-in-out;
		-o-transition: all 2s ease-in-out;
		transition: all 2s ease-in-out;
	}

@media (max-width: 998px) {
	.loop(@from, 25px, 25px);
	.title {
		font-size:30px;
	}
	.small-title {
		font-size:25px;
	}
	.item-nav {
		margin:15px;
		font-size:30px;
	}
	.social-icons {
		font-size: 17px;
	}
	.list-image {
		float:none;
	}
	.ul-nav li {
		margin:10px 20px;
	}
	.snowkick-img {
		.scale-mixin(0.8);
	}
}
@media (max-width:767px) {
	.loop(@from, 20px, 20px);
	.title {
		font-size:25px;
	}
	.small-title {
		font-size:20px;
	}
	.responsive-heading {
		display:none;
	}
	.profile-pic {
		max-height:200px;
	}
	.ul-nav li {
		margin:10px 20px;
	}
	.item-nav {
		margin:5px;
		font-size:20px;
	}
	.snowkick-img {
		.scale-mixin(0.6);
	}
}
@media (max-width:501px) {
	.loop(@from, 15px, 15px);
	.snowkick-wrapper {
		display:none;
	}
	.title {
		font-size:20px;
	}
	.small-title {
		font-size:15px;
	}
	.profile-pic {
		max-height:150px;
	}
	.ul-nav li {
		margin:10px 10px;
	}
	.social-icons li {
		font-size: 15px;
		margin:5px 10px;
	}
	.snowkick-img {
		.scale-mixin(0.3);
	}
}
