@import "../../common/less/main";
	body.portfolio {
		position: relative;
		//.setFullBg('../images/minimal.jpg');
		font-weight: 100;
		height: 100%;
		font-family: 'Lato', sans-serif;
		font-weight:300;
	}

	.cover {
		.setFullBg('../images/bg1.jpg');
		border-bottom:10px solid #e5e5e5;
		//.setFullBg('../images/bg1-full.jpg');
		height:70%;
		background-size:cover;
	}

	.cover-item {
		max-width:200px;
		margin:40px auto;
		height:200px;
		max-height:200px;
	}

	.cover-item h2 {
		padding-top:80px;
		font-size:40px;
	}

	.skillSet {
		.setFullBg('../images/gaussian-blur.jpg');
	}
	.projects {
		.setFullBg('../images/minimal.jpg');
		color:#efefef;
		overflow: visible !important;
	}
	.contact {
		//.setFullBg('../../account/images/ggbridge-blur.jpg');
		//.setFullBg('../../account/images/sfskyline.jpg');
		.setFullBg('../images/dark-1.jpg');
		font-family: 'Lato', sans-serif !important;
	}
	.interests {
		.setFullBg('../../account/images/sfskyline.jpg');
		//.setFullBg('../images/minimal.jpg');
		//.setFullBg('../../account/images/rm.jpg');
	}
	.awards {
		.setFullBg('../images/minimal.jpg');
		font-family: 'proxima-nova' sans-serif;
		font-family: 'Lato', sans-serif !important;
	}
	.cover .title {
		font-size:45px;
		margin:0px auto;
		font-family: 'Lato', sans-serif;
		font-weight:300;
		font-style:italic;
	}

	.dropdown {
		position:absolute;
		top:2%;
		left:2%;
		z-index:100;
		border-radius:50%;
	}

	.dropdown-menu {
		background: transparent;
		min-width: 20px;
		margin:0px -20px;
	}
	.dropdown-menu li a {
		color:@clouds;
		margin:20px 0px;
	}

	.img-skill {
		cursor:pointer;
		margin: 20px auto;
		max-height:200px;
	}
	.img-skill:hover {
		opacity:0.3;
	}

	.item-selector {
		position: fixed;
		top: 30%;
		right: 2%;
		z-index:100;
	}
	@dim : 8px;
	.item-selector li {
		cursor: pointer;
		width: @dim;
		height: @dim;
		float:none;
		margin: 15px auto;
		background:@midnightBlue;
	}

	.item-selector li.active {
		width: 2 * @dim;
		height: 2 * @dim;
		background:@sunFlower;
	}

	.overlay {
		opacity: 0;
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		transition: all 0.4s ease;
		z-index: -100;
		pointer-events: none;
		cursor: default;
	}
	@leftSlide : 15%;
	.slideRight {
		left: @leftSlide;
	}
	.left-pane {
		width:@leftSlide;
		height:100%;
		position:absolute;
		left:-1 * @leftSlide;
		z-index: 10;
	}
	@stack-size:30px;
	@top-visible-width:@stack-size;
	@side-visible-width:@stack-size;
	@li-width:350px;
	@li-height :500px;
	.grid {
		position: relative;
		font-family: 'Lato', sans-serif;
		font-weight:300;
		font-style:italic;
		//height: @li-height+(@visible-width*7);
	}

	.grid li.item-class {
		position:absolute;
		-webkit-transition: all 1s ease-in-out;
		-o-transition: all 1s ease-in-out;
		transition: all 1s ease-in-out;
		//padding:@top-visible-width @side-visible-width 0px 0px;
		-moz-box-shadow:    3px 3px 10px 10px rgba(0, 0, 0, 0.2);
		-webkit-box-shadow: 3px 3px 10px 10px rgba(0, 0, 0, 0.2);
		box-shadow:         3px 3px 10px 10px rgba(0, 0, 0, 0.2);
		background:rgba(254, 254, 254, .2);
		//border-radius: 50%;
	}
	.grid li.item-class .metro{
		opacity: 0.0;
	}
	.img-front {
		opacity: 1 !important;
	}


@from : 0;
	@to : 8;

	/* Create a Parametric mixin and add a guard operation */
	.loop(@index, @side, @top) when(@index =< @to) {

		/* As the mixin is called CSS is outputted */
		//.grid li:nth-child(@{index}) {
		.grid-class-@{index} {
			top: unit((@to - @index) * @top, px);
			left:unit((@index)*(@side), px);
			z-index : (100+(@to - @index));
		}

		/* Interation call and operation */
		.loop(@index + 1, @side, @top);
	}

	/* the mixin is called, css outputted and iterations called */
	.loop(@from, @side-visible-width, @top-visible-width);

	.rb-close-top {
		position:absolute;
		right:1%;
		top:1%;
		cursor: pointer;
	}
	.rb-close-bottom {
		position:absolute;
		right:1%;
		bottom:1%;
		cursor: pointer;
	}

	.overflow-div {
		overflow:auto;
	}

	.highlighted {

		-webkit-animation-name: color2;
		-webkit-animation-duration: 2s;
		-webkit-animation-iteration-count: 10;
		-webkit-animation-timing-function: linear;
		-webkit-animation-delay: 0s;

	}
	.width85{
		width: 85% !important;
	}
	.social-icons {
		font-size:30px;
	}
	@-webkit-keyframes color2 {
		0% {
			opacity:0;
		}
		25% {
			opacity:0.5;
		}
		50% {
			opacity:1;
		}
		75% {
			opacity:0.5;
		}
		100% {
			opacity: 0;
		}

	}
	.contact-method {
		-webkit-transition: all 2s ease-in-out;
		-o-transition: all 2s ease-in-out;
		transition: all 2s ease-in-out;
	}

@media (max-width: 998px) {
	.loop(@from, 25px, 25px);
	.cover .title {
		font-size:30px;
	}
	.grid li {
		margin:10px 0px;
	}
	.metro {
		max-height:200px;
	}
}
@media (max-width:767px) {
	.loop(@from, 20px, 20px);
	.grid li {
		margin:10px 0px;
	}
	.metro {
		max-height:176px;
	}
}
@media (max-width:501px) {
	.loop(@from, 10px, 10px);
	.metro {
		max-height:106px;
	}
	.social-icons {
		font-size: 15px;
	}
}
