@import "../../common/less/main";
	body.portfolio {
		background-size: cover;
		background-repeat: no-repeat;
		font-weight: 100;
		height: 100%;
		overflow-x:hidden;
	}

	.full-height {
		position:relative;
		top:0px;
		left:0px;
	}
	.setFullBg(@img) {
		background:url(@img) no-repeat center center;

		-webkit-transition: lieft 0.3s ease-in-out;
		-o-transition: left 0.3s ease-in-out;
		transition: left 0.3s ease-in-out;
	}
	.cover {
		.setFullBg('../images/bg1.jpg');
		border-bottom:10px solid #e5e5e5;
		//.setFullBg('../images/bg1-full.jpg');
		height:70%;
		background-size:cover;
	}

	.cover-item {
		max-width:200px;
		margin:40px auto;
		height:200px;
		max-height:200px;
	}

	.cover-item h2 {
		padding-top:80px;
		font-size:40px;
	}

	.skillSet {
		.setFullBg('../../money/images/money-7.1.jpg');
	}
	.projects {
		.setFullBg('../../account/images/sfskyline.jpg');
		color:#efefef;
	}
	.contact {
		.setFullBg('../../account/images/sfskyline.jpg');
		color:#efefef;
	}
	.interests {
		.setFullBg('../images/gaussian-blur.jpg');
	}
	.cover .title {
		font-size:45px;
		max-width:45%;
		margin:0px auto;
		padding-top:10%;
		font-family: 'Lato', sans-serif;
		font-weight:300;
		font-style:italic;
	}

	.dropdown {
		position:absolute;
		top:2%;
		left:2%;
		font-size:30px;
		z-index:100;
		border-radius:50%;
	}

	.dropdown-menu {
		background: transparent;
		min-width: 35px;
		margin:0px -15px;
	}

	.img-skill {
		cursor:pointer;
		margin: 20px auto;
		max-height:200px;
	}
	.img-skill:hover {
		opacity:0.3;
	}

	.item-selector {
		position: fixed;
		top: 30%;
		right: 2%;
		z-index:100;
	}
	@dim : 8px;
	.item-selector li {
		cursor: pointer;
		width: @dim;
		height: @dim;
		float:none;
		margin: 15px auto;
		background:@midnightBlue;
	}

	.item-selector li.active {
		width: 2 * @dim;
		height: 2 * @dim;
		background:@sunFlower;
	}

	.overlay {
		opacity: 0;
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		transition: all 0.4s ease;
		z-index: -1;
		pointer-events: none;
		cursor: default;
	}
	@leftSlide : 15%;
	.slideRight {
		left: @leftSlide;
	}
	.left-pane {
		width:@leftSlide;
		height:100%;
		position:absolute;
		left:-1 * @leftSlide;;
	}

	.grid li {
		font-family: 'Lato', sans-serif;
		font-weight:300;
		font-style:italic;
		margin:15px 0px;
		//cursor : pointer;
	}
	.metro {
		height:250px;
	}

	.rb-close-top {
		position:absolute;
		right:1%;
		top:1%;
		cursor: pointer;
	}
	.rb-close-bottom {
		position:absolute;
		right:1%;
		bottom:1%;
		cursor: pointer;
	}

@media (max-width: 998px) {
	.cover .title {
		font-size:30px;
	}
	.grid li {
		margin:10px 0px;
	}
	.metro {
		max-height:200px;
	}
}
@media (max-width:767px) {
	.grid li {
		margin:10px 0px;
	}
	.metro {
		max-height:176px;
	}
}
@media (max-width:501px) {
	.metro {
		max-height:106px;
	}
}
